Pods/
Podfile.lock

## User settings
xcuserdata/
TinkoffChat.xcworkspace/xcuserdata/
TinkoffChat.xcodeproj/xcuserdata/
TinkoffChat.xcodeproj/project.xcworkspace/xcuserdata/


*.xccheckout
*.xcscmblueprint

build/
DerivedData/